.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled.color1 {
    color: red;
  }
  .filled.color2 {
    color: red;
  } 
  .filled.color3 {
    color: orange;
  }
  .filled.color4 {
    color: orange;
  } 
  .filled.color5 {
    color: green;
  }